@tailwind base;
@tailwind components;
@tailwind utilities;

/* No Scrollbar */
@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@layer components {
	.carousel-container {
		@apply flex snap-x snap-mandatory overflow-x-auto;
	}
}
